In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
months = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
          'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']

In [66]:
rainEne2018 = pd.read_csv('201801010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainFeb2018 = pd.read_csv('201802010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainMar2018 = pd.read_csv('201803010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainAbr2018 = pd.read_csv('201804010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainMay2018 = pd.read_csv('201805010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainJun2018 = pd.read_csv('201806010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainJul2018 = pd.read_csv('201807010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainAgo2018 = pd.read_csv('201808010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainOct2018 = pd.read_csv('201810010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainNov2018 = pd.read_csv('201811010000Lluv.csv', usecols = (4,5), encoding='latin-1')

In [70]:
rainEne2019 = pd.read_csv('201801010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainFeb2019 = pd.read_csv('201802010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainMar2019 = pd.read_csv('201903010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainAbr2019 = pd.read_csv('201904010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainMay2019 = pd.read_csv('201905010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainJun2019 = pd.read_csv('201906010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainJul2019 = pd.read_csv('201907010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainAgo2019 = pd.read_csv('201908010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainOct2019 = pd.read_csv('201910010000Lluv.csv', usecols = (4,5), encoding='latin-1')
rainNov2019 = pd.read_csv('201911010000Lluv.csv', usecols = (4,5), encoding='latin-1')

In [79]:
rainData2018 = pd.merge(rainEne2018, rainFeb2018)
rainData2018 = pd.merge(rainData2018, rainMar2018)
rainData2018 = pd.merge(rainData2018, rainAbr2018)
rainData2018 = pd.merge(rainData2018, rainMay2018)
rainData2018 = pd.merge(rainData2018, rainJun2018)
rainData2018 = pd.merge(rainData2018, rainJul2018)
rainData2018 = pd.merge(rainData2018, rainAgo2018)
rainData2018 = pd.merge(rainData2018, rainSep2018)
rainData2018 = pd.merge(rainData2018, rainOct2018)
rainData2018 = pd.merge(rainData2018, rainNov2018)
rainData2018

,NOMBRE,ENE,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEP,OCT,NOV
0,"Aguascalientes, Ags.",25.8,28.7,0.00,0.0,75.4,112.50,34.5,128.2,111.43,119.54,47.14
1,"Cincuenta Aniversario, Ags.",58.6,24.4,0.00,2.6,34.8,191.20,28.8,63.4,67.20,109.80,31.80
2,"Calvillo, Ags. SMN*",56.0,19.5,0.00,5.3,15.4,201.50,108.0,78.3,130.07,100.76,21.66
3,"La Codorniz, Ags.",50.0,30.0,0.00,0.0,39.0,250.00,110.5,80.4,178.20,113.00,30.00
4,"Los Conos, Ags.",51.5,33.0,0.01,106.3,39.0,289.11,64.4,129.8,190.74,65.33,54.50
...,...,...,...,...,...,...,...,...,...,...,...,...
3728,"Sombrerete, Zac.",8.2,20.9,0.30,3.5,24.8,77.90,64.4,105.0,143.70,91.50,16.20
3729,"Santa Teresa (Independencia Nacional), Zac.",27.9,17.1,0.00,1.0,21.6,176.10,95.8,108.3,206.32,60.70,42.50
3730,"Santa Rosa, Zac.",25.5,53.0,0.01,0.0,79.2,105.02,53.6,106.2,204.95,96.81,5.21
3731,"Chalchihuites, Zac.",6.0,22.0,0.00,1.0,9.5,112.70,143.5,118.5,165.00,65.40,23.00
3732,"Zacatecas, Zac.",43.3,18.0,0.00,3.0,35.6,236.00,82.0,69.5,82.50,23.53,43.00

In [102]:
rainData2019 = pd.merge(rainEne2019, rainFeb2019)
rainData2019 = pd.merge(rainData2019, rainMar2019)
rainData2019 = pd.merge(rainData2019, rainAbr2019)
rainData2019 = pd.merge(rainData2019, rainMay2019)
rainData2019 = pd.merge(rainData2019, rainJun2019)

rainJul2019 = rainJul2019.rename(columns = {'ESTACION': 'NOMBRE'})
rainData2019 = pd.merge(rainData2019, rainJul2019)

rainAgo2019 = rainAgo2019.rename(columns = {'ESTACION': 'NOMBRE'})
rainData2019 = pd.merge(rainData2019, rainAgo2019)

rainSep2019 = rainSep2019.rename(columns = {'ESTACION': 'NOMBRE'})
rainData2019 = pd.merge(rainData2019, rainSep2019)

rainOct2019 = rainOct2019.rename(columns = {'ESTACION': 'NOMBRE'})
rainData2019 = pd.merge(rainData2019, rainOct2019)

rainNov2019 = rainNov2019.rename(columns = {'ESTACION': 'NOMBRE'})
rainData2019 = pd.merge(rainData2019, rainNov2019)

rainData2019

,NOMBRE,ENE,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEP,oct-19,nov-19
0,"Calvillo, Ags. SMN*",56.0,19.5,0.00,0.00,5.32,101.27,18.3,105.47,54.97,22.23,29.8
1,"La Codorniz, Ags.",50.0,30.0,0.00,0.00,0.00,35.00,139.0,156.30,128.00,64.00,35.8
2,"Los Conos, Ags.",51.5,33.0,2.31,0.00,3.22,46.72,100.4,160.73,59.74,40.62,46.8
3,"Media Luna, Ags.",48.9,32.7,0.00,0.00,6.00,96.42,131.4,226.03,83.63,27.22,34.4
4,"El Niagara, Ags.",25.4,41.1,0.00,0.00,0.01,19.96,173.3,155.45,83.11,63.90,24.9
...,...,...,...,...,...,...,...,...,...,...,...,...
3691,"San Francisco, Zac.",9.7,9.0,2.01,0.01,2.32,51.13,20.4,9.64,42.24,1.52,40.6
3692,"Sombrerete, Zac.",8.2,20.9,0.50,0.00,2.80,25.20,73.2,132.60,68.80,11.80,66.3
3693,"Santa Teresa (Independencia Nacional), Zac.",27.9,17.1,0.01,0.00,1.00,46.20,162.1,112.10,142.20,71.80,54.2
3694,"Santa Rosa, Zac.",25.5,53.0,0.01,0.00,4.21,49.60,81.2,93.60,114.03,34.41,56.2
3695,"Chalchihuites, Zac.",6.0,22.0,0.00,0.00,4.00,63.00,173.0,72.00,93.50,16.50,116.0

In [104]:
rainData2018.append(rainData2019)
rainData2018

,NOMBRE,ENE,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEP,OCT,NOV
0,"Aguascalientes, Ags.",25.8,28.7,0.00,0.0,75.4,112.50,34.5,128.2,111.43,119.54,47.14
1,"Cincuenta Aniversario, Ags.",58.6,24.4,0.00,2.6,34.8,191.20,28.8,63.4,67.20,109.80,31.80
2,"Calvillo, Ags. SMN*",56.0,19.5,0.00,5.3,15.4,201.50,108.0,78.3,130.07,100.76,21.66
3,"La Codorniz, Ags.",50.0,30.0,0.00,0.0,39.0,250.00,110.5,80.4,178.20,113.00,30.00
4,"Los Conos, Ags.",51.5,33.0,0.01,106.3,39.0,289.11,64.4,129.8,190.74,65.33,54.50
...,...,...,...,...,...,...,...,...,...,...,...,...
3728,"Sombrerete, Zac.",8.2,20.9,0.30,3.5,24.8,77.90,64.4,105.0,143.70,91.50,16.20
3729,"Santa Teresa (Independencia Nacional), Zac.",27.9,17.1,0.00,1.0,21.6,176.10,95.8,108.3,206.32,60.70,42.50
3730,"Santa Rosa, Zac.",25.5,53.0,0.01,0.0,79.2,105.02,53.6,106.2,204.95,96.81,5.21
3731,"Chalchihuites, Zac.",6.0,22.0,0.00,1.0,9.5,112.70,143.5,118.5,165.00,65.40,23.00
3732,"Zacatecas, Zac.",43.3,18.0,0.00,3.0,35.6,236.00,82.0,69.5,82.50,23.53,43.00

In [69]:
tmaxEne2018 = pd.read_csv('201801010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxFeb2018 = pd.read_csv('201802010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxMar2018 = pd.read_csv('201803010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxAbr2018 = pd.read_csv('201804010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxMay2018 = pd.read_csv('201805010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxJun2018 = pd.read_csv('201806010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxJul2018 = pd.read_csv('201807010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxAgo2018 = pd.read_csv('201808010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxOct2018 = pd.read_csv('201810010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxNov2018 = pd.read_csv('201811010000TMax.csv', usecols = (4,5), encoding='latin-1')

In [ ]:
tmaxEne2019 = pd.read_csv('201801010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxFeb2019 = pd.read_csv('201802010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxMar2019 = pd.read_csv('201903010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxAbr2019 = pd.read_csv('201904010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxMay2019 = pd.read_csv('201905010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxJun2019 = pd.read_csv('201906010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxJul2019 = pd.read_csv('201907010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxAgo2019 = pd.read_csv('201908010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxOct2019 = pd.read_csv('201910010000TMax.csv', usecols = (4,5), encoding='latin-1')
tmaxNov2019 = pd.read_csv('201911010000TMax.csv', usecols = (4,5), encoding='latin-1')

In [71]:
tminEne2018 = pd.read_csv('201801010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminFeb2018 = pd.read_csv('201802010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminMar2018 = pd.read_csv('201803010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminAbr2018 = pd.read_csv('201804010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminMay2018 = pd.read_csv('201805010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminJun2018 = pd.read_csv('201806010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminJul2018 = pd.read_csv('201807010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminAgo2018 = pd.read_csv('201808010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminOct2018 = pd.read_csv('201810010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminNov2018 = pd.read_csv('201811010000TMin.csv', usecols = (4,5), encoding='latin-1')

In [73]:
tminEne2019 = pd.read_csv('201901010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminFeb2019 = pd.read_csv('201902010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminMar2019 = pd.read_csv('201903010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminAbr2019 = pd.read_csv('201904010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminMay2019 = pd.read_csv('201905010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminJun2019 = pd.read_csv('201906010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminJul2019 = pd.read_csv('201907010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminAgo2019 = pd.read_csv('201908010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminOct2019 = pd.read_csv('201910010000TMin.csv', usecols = (4,5), encoding='latin-1')
tminNov2019 = pd.read_csv('201911010000TMin.csv', usecols = (4,5), encoding='latin-1')